<footer>
    <div>
          <h3 class="text">About</h3>
          <div id="footerLeftSide">
                <a href="/aboutUs" class="text">About us</a>
                <a href="mailto:cecilecreation@gmail.com">Contact us</a>
          </div>
    </div>
    <div>
          <h3 class="text">Account</h3>
          {{#authenticated}}
          <div id="footerMiddle">
                <a href="/account" class="text">Account</a>
                <a href="/logout" class="text">Logout</a>
          </div>
          {{/authenticated}}

          {{^authenticated}}
          <a href="/login" class="text">Login</a>
          {{/authenticated}}
    </div>
</footer>


</body>

</html>