#accountContainer,
#row2 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#column1,
#column2,
#unverifiedAccountsContainer {
    display: flex;
    flex-direction: column;
    border: 5px solid #ebebebb2;
    backdrop-filter: blur(2px);
    background-color: #a0a0a069;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#column1 {
    width: 700px;
    gap: 20px;
}

#unverifiedAccountsContainer {
    align-items: center;
}

.unverifiedAccountContent {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.userInfoSection {
    display: flex;
    gap: 20px;
    flex-direction: column;
}



#primarySection {
    display: flex;
    gap: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profilePicture {
    width: 124px;
    height: 124px;
    border-radius: 10px;
    object-fit: cover;
}

#nameSection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#nameSection input {
    width: 500px;
}

#nameSection input,
#contactSection input,
#adressField,
#localisationSection input,
#changePsswdSub,
#changePsswdBtn,
#cancelBtn,
#editProfileLink,
#unverifiedAccountsContainer input {
    border-radius: 10px;
    border: none;
}

#column1 input[type="text"],
#column1 input[type="email"],
#column1 input[type="tel"],
#column1 input[type="password"],
#column1 a,
#unverifiedAccountsContainer input[type="text"] {
    padding: 0px 10px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    font-family: var(--font-family);

}


#column1 a,
#newOrderBtn,
#myOrderBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--background-color);
    width: 180px;
    height: 34px;
    border: 3px solid #e0dedc88;
    backdrop-filter: blur(20px);
}

#oldPasswordSection,
#newPasswordSection,
#confirmPasswordSection {
    display: flex;
    align-items: center;
    height: 40px;
    
}

#oldPasswordField,
#newPasswordField,
#confirmPasswordField {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}

#changePsswdSub {
    background-color: var(--background-color);
    color: var(--text-color);
}

#localisationSection,
#contactSection {
    display: flex;
    justify-content: space-between;
}

#changePsswdSection {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

#emailField,
#cityField {
    width: 400px;
}

#phoneNumberField,
#zipCodeField {
    width: 230px;
}

#updatePasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#column2Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#orderList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#newOrderBtn,
#myOrderBtn {
    height: 40px;
    width: 200px;
    font-weight: 500;
    border-radius: 10px;
}

#column2,
#unverifiedAccountsContainer {
    width: 500px;
}


label {
    height: 40px;
    width: 40px;
    background-color: var(--text-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label img {
    width: 30px;
    height: 30px;
    padding: 5px;
}

.hiddenInput {
    display: none;
}

#cancelBtn,
#changePsswdBtn,
#changePsswdSub {
    display: flex;
    height: 40px;
    width: 237px;
    justify-content: center;
    border: 3px solid #e0dedc88;
    backdrop-filter: blur(20px);
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 500;
}

#cancelBtn,
#changePsswdBtn {
    color: var(--background-color);
    background-color: var(--text-color);
}

input[type="button"]:hover,
input[type="submit"]:hover {
    cursor: pointer;
}

.inputSection {
    display: flex;
    gap: 20px;
    align-items: center;
}

.rejectBtn,
.verifyBtn {
    height: 30px;
    width: 30px;
    padding: 5px;
}

.rejectBtn {
    background-color: var(--text-color);
}

.verifyBtn {
    background-color: var(--background-color);
}

.rejectAccountForm, .verifyAccountForm {
    height: 40px;
}


#table span, #table svg{
    width: 120px;
    display: flex;
    justify-content: center;
}

#table{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap : 20px;
    align-items: center;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #e0dedc88;
    background-color: var(--text-color);
    color: var(--background-color);
    .checkSvgIco{
        stroke: var(--background-color);
    }
    .crossSvgIco{
        fill: var(--background-color);
    }
}

.row:hover{
    cursor: pointer;
    background-color: var(--background-color);
    color: var(--text-color);
    .checkSvgIco{
        stroke: var(--text-color);
    }
    .crossSvgIco{
        fill: var(--text-color);
    }
}