#accountContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#column1,
#column2 {
    display: flex;
    flex-direction: column;
    border: 5px solid #ebebebb2;
    backdrop-filter: blur(2px);
    background-color: #a0a0a069;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 50px;
}

#primarySection {
    display: flex;
    gap: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#profilePicture {
    width: 124px;
    height: 124px;
    border-radius: 10px;
    object-fit: cover;
}

#nameSection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#nameSection input {
    width: 500px;
}

#nameSection input,
#contactSection input,
#adressField,
#localisationSection input,
#changePsswdSub,
#changePsswdBtn,
#cancelBtn,
#editProfileLink {
    border-radius: 10px;
    border: none;
}

#column1 input,
#column1 a {
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0px;
    font-family: var(--font-family);
}

#column1 a,
#newOrderBtn,
#myOrderBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--background-color);
    width: 180px;
    border: 3px solid #e0dedc88;
    backdrop-filter: blur(20px);
}

#oldPasswordSection,
#newPasswordSection,
#confirmPasswordSection {
    display: flex;
    align-items: center;

}

#oldPasswordField,
#newPasswordField,
#confirmPasswordField {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}

#changePsswdBtn {
    width: 206px;
    justify-content: center;
}

#changePsswdSub {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 3px solid #e0dedc88;
    backdrop-filter: blur(20px);
    height: 46px;
}

#localisationSection,
#contactSection {
    display: flex;
    justify-content: space-between;
}

#changePsswdSection {
    display: flex;
    justify-content: space-around;
}

#emailField,
#cityField {
    width: 400px;
}

#phoneNumberField,
#zipCodeField {
    width: 230px;
}

#updatePasswordForm {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 30px;
    font-family: Inter;
    font-weight: 500;
    color: var(--text-color);
}

#column2Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#orderList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

#newOrderBtn,
#myOrderBtn {
    height: 40px;
    font-weight: 500;
    border-radius: 10px;
    margin-top: 50px;
}

#column2 {
    width: 500px;
}


label {
    height: 42px;
    width: 42px;
    background-color: var(--text-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label img {
    width: 30px;
    height: 30px;
}

.hiddenInput {
    display: none;
}

#cancelBtn, #changePsswdBtn {
    display: flex;
    justify-content: center;
    color: var(--background-color);
    background-color: var(--text-color);
    border: 3px solid #e0dedc88;
    backdrop-filter: blur(20px);
}

input[type="button"]:hover, input[type="submit"]:hover{
    cursor: pointer;
}