:root{
    --primary-color: #000000;
    --secondary-color: #000000;
    --button-hover: #000000;
    --third-color: #000000;
    --text-color: #ffffff;
    --secondary-text-color: #000000;
    --third-background-color: #f6f7f9;
    --secondary-background-color: #ffffff;
    --background-color: #0064F7;
    --title-color: #000000;
    --font-family: "Manrope", sans-serif;
    --box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("background.png");
    filter: blur(1.rem);
    font-family: var(--font-family);
    font-weight: 300;
    gap: 20px;
}

#navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    box-shadow: 0px 0px 5px 1px rgb(159, 152, 152);
    width: 100%;
    background-color: var(--background-color) !important;
}

#navBar a {
    text-decoration: none;
    color: var(--text-color);
}


.icoHeader {
    width: 35px;
    height: 35px;
    transition: .2s;
}

.icoHeader:hover {
    transform: translateY(-5px);
}

.icoFooter {
    width: 30px;
    height: 30px;
}

.hidden{
    opacity: 0;
    blur-filter: blur(2px);
    transform: translateY(+20%);
    transition: all 0.5s ease;
}

.show{
    opacity: 1;
    transform: translate(0);
    blur-filter: blur(0);
}


header {
    margin-bottom: auto;
}

footer {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: var(--background-color);
    text-decoration: none;
    color: var(--text-color);
    padding: 50px;
    box-shadow: var(--box-shadow);
}

footer a{
    text-decoration: none;
    color: var(--text-color);
}

footer input{
    border: none;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Inter;
    padding: 0px;
    font-size: 15px;
    font-weight: 300;
    font-family: var(--font-family);
}

footer input:hover{
    cursor: pointer;
}

.text{
    font-size: 20px;
    font-weight: 500;
}


.title {
    font-size: 30px;
    font-family: Inter;
    font-weight: 500;
    color: var(--text-color);
    font-family: var(--font-family);
}


#footerLeftSide, #footerRightSide{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#rightSide, #leftSide{
    display: flex;
    gap: 30px;
    align-items: center;
}

#home{
    font-size: 30px;
    font-weight: 600;
}

#orders{
    font-size:25px;
    font-weight: 500;
}

#title{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-bottom: 50px;
    color: var(--text-color);
    font-family: var(--font-family);
    font-weight: 500;
}

a {
    text-decoration: none;
}