#homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap : 250px
}

#seeOrderLink, #newOrderLink{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--secondary-text-color);
    padding: 10px 0px;
    font-size: 17px;
    font-weight: 500;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 3px solid #e0dedc88;
    transition: transform .2s;
}

#seeOrderLink:hover, #newOrderLink:hover{
    transform: translateY(-10px);
}

#newOrderLink{
    background-color: var(--background-color);
    color: var(--text-color);
}

#seeOrderLink{
    background-color: #ffffff91;
    color: var(--background-color);
}

.content{
    padding: 50px;
    border: 5px solid #ebebebb2;
    backdrop-filter: blur(2px);
    background-color: #a0a0a069;
    width: 900px;
    border-radius: 20px;
}