#row1,
#content,
#newOrderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#row1 {
    gap: 30px;
    width: 1400px;
}

#getProductsForm {
    display: flex;
    gap: 20px;
    align-items: center;
}


input,
select {
    font-family: var(--font-family);
    border: 3px solid #e0dedc88;
    backdrop-filter: blur(20px);
}

input,
select {
    font-size: 15px;
    font-weight: 300;
    border-radius: 5px;
}

input[type="text"],
input[type="decimal"],
input[type="number"],
input[type="date"] {
    height: 30px;
}

select {
    height: 40px;
}


#createOrderForm input[type="submit"] {
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 5px;
    height: 50px;
    width: 150px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    display: flex;

}

#table-scroll {
    overflow-y: scroll;
    max-height: 600px;
}

input[type="submit"]:hover {
    cursor: pointer;
}

#createOrderForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    input[type="text"],
    input[type="decimal"],
    input[type="number"] {
        padding-left: 10px;
    }
}

#selectContainer {
    display: flex;
    gap: 20px;
    align-items: center;
}

#datesField {
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: 500;
}

#searchIco {
    width: 20px;
    height: 20px;
    padding: 5px;
    background-color: var(--background-color);
    border-radius: 5px;
    border: 3px solid #e0dedc88;
    backdrop-filter: blur(20px);
}

#search {
    display: flex;
    align-items: center;
    gap: 10px;
}

#searchLabel {
    width: 36px;
    height: 36px;
}

th {
    text-align: center;
}

table {
    border-spacing: 40px 10px;
}

tbody {
    max-height: 400px;
    overflow-y: scroll;
}


#content {
    display: flex;
    flex-direction: column;
    border: 5px solid #ebebebb2;
    backdrop-filter: blur(2px);
    background-color: #a0a0a069;
    padding: 25px;
    border-radius: 10px;
    width: 1600px;
}

#startDate,
#endDate {
    display: flex;
    align-items: center;
    gap: 5px;
}

.price,
.quantity,
.packaging,
.totQty,
.basedPrice {
    width: 60px;
}

.id {
    width: 130px;
}

.name {
    width: 400px;
}