{{>./fr/header}}
<div class="container">
    <div class="content hidden-up">
        <div class="title table-title">Compte</div>

        {{#account}}
        <form action="/en/admin-update-account/{{id}}" method="post">
            <table>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Adresse</th>
                    <th>Code Postal</th>
                    <th>Ville</th>
                    <th>Droits</th>
                    <th>État</th>
                </tr>
                <tr>
                    <td><input type="text" value="{{userName}}" required placeholder="Prénom" name="nameField" id="nameField"></td>
                    <td><input type="text" value="{{userLastName}}" required placeholder="Nom" name="lastNameField" id="lastNameField">
                    </td>
                    <td><input type="email" value="{{email}}" required placeholder="Email" name="emailField" id="emailField"></td>
                    <td><input type="tel" value='{{phone}}' type="tel" placeholder="Numéro de téléphone" name="phoneNumberField" id="phoneNumberField">
                    </td>
                    <td><input type="text" value="{{adress}}" placeholder="Adresse" name="addressField" id="addressField"></td>
                    <td><input type="text" value="{{zipCode}}" placeholder="Code Postal" name="postCodeField" id="postCodeField"></td>
                    <td><input type="text" value="{{city}}" placeholder="Ville" name="cityField" id="cityField"></td>
                    <td><select name="roleSelect">
                            <option value="{{admin}}" selected>{{admin}}</option>
                            <option value="{{otherRoles}}">{{otherRoles}}</option>
                        </select>
                    </td>
                    <td><select name="stateSelect">
                            <option value="{{verified}}" selected>{{verified}}</option>
                            <option value="{{verifiedState}}">{{verifiedState}}</option>
                        </select></td>
                </tr>

            </table>
            <div id="submitSection">
                <input type="submit" value="Confirm" class="button" id="submitBtn">
                <input type="submit" value="Cancel" class="button" id="cancelBtn" formaction="/en/previousUrl">
            </div>
        </form>
        {{/account}}
        {{^account}}
        <span class="text">Compte inconnu</span>
        {{/account}}
    </div>
</div>
{{>./fr/footer}}