<footer>
      <div class='column'>
            <span class='text'>À propos</span>
            <div id='footerLeftSide'>
                  <a href='/fr/aboutUs'>Qui sommes nous ?</a>
                  <a href='mailto:pharmadistrib@gmail.com'>Nous contacter</a>
            </div>
      </div>
      <div class='column'>
            <span class='text'>Compte</span>
            {{#authenticated}}
            <div id='footerRightSide'>
                  <a href='/fr/account'>Mon Compte</a>
                  <form action='/fr/signout' method='post'>
                        <input type='submit' value='Se déconnecter'>
                  </form>
            </div>
            {{/authenticated}}

            {{^authenticated}}
            <div id='footerRightSide'>
                  <a href='/fr/signin'>Se connecter</a>
            </div>
            {{/authenticated}}

      </div>
</footer>
</body>
</html>