<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{css}}">
    <title>Pharma Distrib</title>
</head>

<body>
    <nav id="navBar">
        <div id="leftSide">
            <a href="/fr/home" id="home">Pharma Distrib</a>
            <a href="/fr/orders" id="orders">Commandes</a>
        </div>
        <div id="rightSide">
            <a href="/fr/orders"><img class="icoHeader" src="../box.svg" id="boximg" alt="boximg"></a>
            {{#authenticated}}
            <a href="/fr/account"><img class="icoHeader" src="../account.svg" id="accountimg" alt="accountimg"></a>
            {{/authenticated}}

            {{^authenticated}}
            <a href="/fr/signin"><img class="icoHeader" src="../account.svg" id="accountimg" alt="accountimg"></a>
            {{/authenticated}}
        </div>
    </nav>