{{>./en/header}}

{{#account}}
<form action='/en/editAccount' method='post' enctype='multipart/form-data' class="hidden-up">
    <div id='accountContainer'>
        <div id='row1'>
            <div id='primarySection'>
                <label for='updateProfilePicture' id='editPicture' class='button'><img src='/{{profilePicture}}'
                        alt='profilePicture' id='profilePicture'></label>
                <input type='file' id='updateProfilePicture' name='updateProfilePicture'
                    accept='image/png, image/jpg, image/jpeg' hidden>
                <div id='nameSection'>
                    <input type='text' name='nameField' id='nameField' value='{{userName}}' placeholder='Name'>
                    <input type='text' name='lastNameField' id='lastNameField' value='{{userLastName}}'
                        placeholder='Last Name'>
                </div>
            </div>
            <div id='contactSection'>
                <input type='email' name='emailField' id='emailField' value='{{email}}' placeholder='Email' readonly>
                <input type='tel' name='phoneNumberField' id='phoneNumberField' value='{{phone}}'
                    placeholder='Phone Number' onkeyup='checkNumbers(this)'>
            </div>

            <input type='text' name='adressField' id='adressField' value='{{adress}}' placeholder='Address'>

            <div id='localisationSection'>
                <input type='text' name='cityField' id='cityField' value='{{city}}' placeholder='City'>
                <input type='text' name='zipCodeField' id='zipCodeField' value='{{zipCode}}' placeholder='Zip Code' onkeyup='checkNumbers(this)'>
            </div>
            <div id='buttonSection'>
                <a href='/en/account' class='button'>Cancel</a>
                <input type='submit' class='button' value='Confirm'>
            </div>
        </div>
    </div>
</form>
{{/account}}
{{>./en/footer}}