<footer>
      <div class='column'>
            <span class='text'>About</span>
            <div id='footerLeftSide'>
                  <a href='/en/aboutUs'>About us</a>
                  <a href='mailto:pharmadistrib@gmail.com'>Contact us</a>
            </div>
      </div>
      <div class='column'>
            <span class='text'>Account</span>
            {{#authenticated}}
            <div id='footerRightSide'>
                  <a href='/en/account'>Account</a>
                  <form action='/en/signout' method='post'>
                        <input type='submit' value='Sign Out'>
                  </form>
            </div>
            {{/authenticated}}

            {{^authenticated}}
            <div id='footerRightSide'>
                  <a href='/en/signin'>Sing In</a>
            </div>
            {{/authenticated}}

      </div>
</footer>
</body>
</html>