<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='/header.css'>
    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link href='https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap' rel='stylesheet'>
    <link rel='stylesheet' href='{{css}}'>
    <script defer src='/scripts.js'></script>
    
    <title>Pharma Distrib</title>
</head>

<body>
    <header>
        <nav id='navBar'>
            <div id='leftSide'>
                <a href='/en/home' id='home'>Pharma Distrib</a>
                <a href='/en/orders' id='orders'>Orders</a>
            </div>
            <div id='rightSide'>
                <a href='/en/orders'><img class='icoHeader' src='/box.svg' id='boximg' alt='boximg'></a>
                {{#authenticated}}
                <a href='/en/account'><img class='icoHeader' src='/account.svg' id='accountimg' alt='accountimg'></a>
                {{/authenticated}}

                {{^authenticated}}
                <a href='/en/signin'><img class='icoHeader' src='/account.svg' id='accountimg' alt='accountimg'></a>
                {{/authenticated}}
            </div>
        </nav>
    </header>