{{>./en/header}}
<div>
    <h1>New Order</h1>
    <div id="row1">
        <form action="/en/getProducts" method="post">
            <select name="laboratorySelect" id="laboratorySelect" required>
                <option name="laboratory" id="laboratory" value="None">Select a Laboratory</option>
                {{#laboratories}}
                <option name="laboratory" id="{{laboratoryName}}" value="{{laboratoryName}}">
                    {{laboratoryName}}</option>
                {{/laboratories}}
            </select>
            <input type="submit" value="Confirm">
        </form>
        {{#showProducts}}
        <form action="/en/createOrder">
            <label for="dateStartField">Start Date</label>
            <input type="date" name="dateStartField" id="dateStartField" value="{{currentDate}}" required>
            <label for="dateEndField">End Date</label>
            <input type="date" name="dateEndField" id="dateEndField" required>
            <input type="submit" value="Create Order">
            <table>
                <tr>
                    <th>EAN13</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
                {{#products}}
                <tr>
                    <td>{{ean13}}</td>
                    <td>{{name}}</td>
                    <td>{{price}}</td>
                    <td>{{quantity}}</td>
                </tr>
                {{/products}}
            </table>
        </form>
        {{/showProducts}}
    </div>
</div>
{{>./en/footer}}