{{>./en/header}}
{{#order}}
<div id='orderContainer'>
    <div id='content'>
        <div class='title'>Order n°{{orderIndex}}</div>
        <div id='row1'>
            {{#state}}
            <form action='/en/updateOrder' id='updateOrderForm' method='post'>
                <div id='selectContainer'>
                    <select name='laboratorySelect' id='laboratorySelect' required onchange='showProducts(this)'>
                        <option name='laboratory' id='laboratory' value='None'>Select a laboratory</option>
                        {{#laboratories}}
                        <option name='laboratory' id='{{laboratoryName}}' value='{{laboratoryName}}'>
                            {{laboratoryName}}</option>
                        {{/laboratories}}
                        <option name='allProducts' value='all'>All Products</option>
                    </select>
                    <div id='datesField'>
                        {{#owner}}
                        <div id='startDate'>
                            <label for='dateStartField'>Open Date</label>
                            <input type='date' name='dateStartField' id='dateStartField' value='{{openDate}}'
                                required>
                        </div>
                        <div id='endDate'>
                            <label for='dateEndField'>Close Date</label>
                            <input type='date' name='dateEndField' id='dateEndField' value='{{closeDate}}' required>
                        </div>
                        {{/owner}}
                        {{^owner}}
                        <div id='startDate'>
                            <label for='dateStartField'>Open Date</label>
                            <input type='date' name='dateStartField' id='dateStartField' value='{{currentDate}}'
                                readonly>
                        </div>
                        <div id='endDate'>
                            <label for='dateEndField'>Close Date</label>
                            <input type='date' name='dateEndField' id='dateEndField' value='{{endDate}}' readonly>
                        </div>
                        {{/owner}}
                    </div>
                </div>
                <table id='' class='productTable'>
                    <tr class='firstRow'>
                        <th>EAN13</th>
                        <th>Laboratory</th>
                        <th>Name</th>
                        <th>Packaging</th>
                        <th>Qty</th>
                        <th>Price €</th>
                        <th>total Qty</th>
                        <th>Based Price</th>
                    </tr>
                    {{#products}}
                    <tr class='{{laboratoryName}}' style='display: table-row;' id='{{ean13}}'>
                        <td class='tableContent'><input type='text' class='id' value='{{ean13}}' readonly name='ean13'>
                        </td>
                        <td class='tableContent'><input type='text' class='laboratoryProductName'
                                value='{{laboratoryName}}' readonly name='laboratoryName'>
                        </td>
                        <td class='tableContent'><input type='text' class='name' value='{{productName}}' readonly
                                name='productName'></td>
                        <td class='tableContent'><input type='text' class='packaging' value='{{packaging}}' readonly
                                name='packaging'></td>
                        <td class='tableContent'><input type='number' class='quantity' value='{{quantity}}' name='quantity'
                                onchange="updateQuantity('{{ean13}}')"></td>
                        <td class='tableContent'><input type='text' class='price' value='{{price}}' readonly
                                name='price'>
                        </td>
                        <td class='tableContent'><input type='number' class='totQty' value='{{totQty}}' name='totQty' readonly>
                        </td>
                        <td class='tableContent'><input type='number' class='basedPrice' value='0' name='basedPrice'
                                readonly></td>
                    </tr>
                    {{/products}}
                </table>
                <input type='submit' value='Confirm'>
            </form>
            {{/state}}




            {{^state}}
            <div id='updateOrderForm'>
                <div id='selectContainer'>
                    <select name='laboratorySelect' id='laboratorySelect' required onchange='showProducts(this)'>
                        <option name='laboratory' id='laboratory' value='None'>Select a laboratory</option>
                        {{#laboratories}}
                        <option name='laboratory' id='{{laboratoryName}}' value='{{laboratoryName}}'>
                            {{laboratoryName}}</option>
                        {{/laboratories}}
                        <option name='allProducts' value='all'>All Products</option>
                    </select>
                    <div id='datesField'>
                        <div id='startDate'>
                            <label for='dateStartField'>Open Date</label>
                            <input type='date' name='dateStartField' id='dateStartField' value='{{currentDate}}'
                                readonly>
                        </div>
                        <div id='endDate'>
                            <label for='dateEndField'>Close Date</label>
                            <input type='date' name='dateEndField' id='dateEndField' value='{{endDate}}' readonly>
                        </div>
                    </div>
                </div>
                <table id='' class='productTable'>
                    <tr class='firstRow'>
                        <th>EAN13</th>
                        <th>Laboratory</th>
                        <th>Name</th>
                        <th>Packaging</th>
                        <th>Qty</th>
                        <th>Price €</th>
                        <th>total Qty</th>
                        <th>Based Price</th>
                    </tr>
                    {{#products}}
                    <tr class='{{laboratoryName}}' style='display: table-row;' id='{{ean13}}'>
                        <td class='tableContent'><input type='text' class='id' value='{{ean13}}' readonly name='ean13' readonly>
                        </td>
                        <td class='tableContent'><input type='text' class='laboratoryProductName'
                                value='{{laboratoryName}}' readonly name='laboratoryName' readonly>
                        </td>
                        <td class='tableContent'><input type='text' class='name' value='{{productName}}' readonly
                                name='productName'></td>
                        <td class='tableContent'><input type='text' class='packaging' value='{{packaging}}' readonly
                                name='packaging'></td>
                        <td class='tableContent'><input type='number' class='quantity' value='0' name='quantity'
                                readonly></td>
                        <td class='tableContent'><input type='text' class='price' value='{{price}}' readonly
                                name='price'>
                        </td>
                        <td class='tableContent'><input type='number' class='totQty' value='{{totQty}}' name='totQty' readonly>
                        </td>
                        <td class='tableContent'><input type='number' class='basedPrice' value='0' name='basedPrice'
                                readonly></td>
                    </tr>
                    {{/products}}
                </table>
            </div>
            {{/state}}
        </div>
    </div>
</div>
{{/order}}

{{>./en/footer}}