{{>./en/header}}

<section class='hidden'>
    <div id='signUpContainer'>
        <div id='content'>
            <form action='/en/signup' method='post' id='signUpForm'>
                <span id='title'>Sign Up</span>
                <div id='inputSection'>
                    <div id='field'>
                        <input type='text' name='name' placeholder='Name'>
                        <input type='email' name='email' placeholder='Email'>

                        <div id='passwordSection'>
                            <input type='password' name='passwordField' id='passwordField' placeholder='Password'>
                            <input type='button' name='showPassBtn' id='showPassBtn'
                                onclick="showPassword('passwordField','showPassLabel','hidePassLabel',true)" hidden>
                            <label for='showPassBtn' id='showPassLabel'>
                                <img src='../showPass.svg' class='icoPass' alt='show Password'>
                            </label>
                            <input type='button' name='hidePasswdBtn' id='hidePasswdBtn'
                                onclick="showPassword('passwordField','showPassLabel','hidePassLabel',false)" hidden>
                            <label for='hidePasswdBtn' style='display: none;' id='hidePassLabel'>
                                <img src='../hidePass.svg' class='icoPass' alt='hide Password'>
                            </label>
                        </div>
                        <div id='confirmPasswordSection'>
                            <input type='password' name='confirmPasswordField' id='confirmPasswordField'
                                placeholder='Confirm Password'>
                            <input type='button' name='showConfirmPassBtn' id='showConfirmPassBtn'
                                onclick="showPassword('confirmPasswordField','showConfirmPassLabel','hideConfirmPassLabel',true)"
                                hidden>
                            <label for='showConfirmPassBtn' id='showConfirmPassLabel'>
                                <img src='../showPass.svg' class='icoPass' alt='show Confirm Password'>
                            </label>
                            <input type='button' name='hideConfirmPasswdBtn' id='hideConfirmPasswdBtn'
                                onclick="showPassword('confirmPasswordField','showConfirmPassLabel','hideConfirmPassLabel',false)"
                                hidden>
                            <label for='hideConfirmPasswdBtn' style='display: none;' id='hideConfirmPassLabel'>
                                <img src='../hidePass.svg' class='icoPass' alt='hide Confirm Password'>
                            </label>
                        </div>

                    </div>
                    {{#errorMessage}}
                    <span id='errorMessage'>{{errorMessage}}</span>
                    {{/errorMessage}}
                    <input type='submit' value='Sign Un'>
                    <div id='otherOptions'>
                        <a href='/en/signin'>I have already an account</a>
                    </div>

                </div>


            </form>

        </div>
    </div>
</section>
{{>./en/footer}}