{{>./en/header}}


<section class='hidden-up'>
<div id='signinContainer'>
    <div id='content'>
        <form action='/en/signin' method='post' id='signInForm'>
            <span id='title'>Sign In</span>
            <div id='inputSection'>
                <div id='field'>
                    <input type='email' autocomplete='email' name='email' placeholder='Email'>
                    <div id='passwordField'>
                       <input type='password' name='password' id='password'
                                placeholder='Password'>
                            <input type='button' name='showPassBtn' id='showPassBtn'
                                onclick="showPassword('password','showPassLabel','hidePassLabel',true)"
                                hidden>
                            <label for='showPassBtn' id='showPassLabel'>
                                <img src='../showPass.svg' class='icoPass' alt='show Password'>
                            </label>
                            <input type='button' name='hidePasswdBtn' id='hidePasswdBtn'
                                onclick="showPassword('password','showPassLabel','hidePassLabel',false)"
                                hidden>
                            <label for='hidePasswdBtn' style='display: none;' id='hidePassLabel'>
                                <img src='../hidePass.svg' class='icoPass' alt='hide Password'>
                            </label>
                    </div>
                </div>
                {{#errorMessage}}
                        <span id='errorMessage'>{{errorMessage}}</span>
                        {{/errorMessage}}
                <input type='submit' value='Sign In'>
                <div id='otherOptions'>
                    <a href='/en/forgotPassword'>Forgot password</a>
                    <a href='/en/signup'>Sign up</a>
                </div>

            </div>


        </form>

    </div>
</div>
</section>
{{>./en/footer}}